*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
th {
    border-width: 3px;
    border-style: solid;
    border-color:black;
}
td {
    border-style:dashed;
    border-width: 2px;
    border-color:red;
}
.tableFoot{
    border-width: 3px;
    border-style: solid;
    border-color:blue;
}
